{% extends 'base.html' %}

{% block content %}


<div class="row pb-10">
					<div class="col-xl-4 col-lg-4 col-md-6 mb-20">
						<div class="card-box height-100-p widget-style3">
							<div class="d-flex flex-wrap">
								<div class="widget-data">
									<div class="weight-700 font-24 text-dark">{{purchase_total}}</div>
									<div class="font-14 text-secondary weight-500">
										Total Purchase
									</div>
								</div>
								<div class="widget-icon">
									<div class="icon" data-color="#00eccf">
										<i class="icon-copy dw dw-factory"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-6 mb-20">
						<div class="card-box height-100-p widget-style3">
							<div class="d-flex flex-wrap">
								<div class="widget-data">
									<div class="weight-700 font-24 text-dark">{{sale_total}}</div>
									<div class="font-14 text-secondary weight-500">
										Total Sale
									</div>
								</div>
								<div class="widget-icon">
									<div class="icon" data-color="#ff5b5b">
<!--										<span class="icon-copy ti-heart"></span>-->
										<i class="icon-copy dw dw-shopping-cart1"></i>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-xl-4 col-lg-4 col-md-6 mb-20">
						<div class="card-box height-100-p widget-style3">
							<div class="d-flex flex-wrap">
								<div class="widget-data">
									<div class="weight-700 font-24 text-dark">${{exp_total}}</div>
									<div class="font-14 text-secondary weight-500">Total Expense</div>
								</div>
								<div class="widget-icon">
									<div class="icon" data-color="#09cc06">
										<i class="icon-copy dw dw-wallet-1"></i>
<!--										<i class="icon-copy fa fa-money" aria-hidden="true"></i>-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
<!--=============================================================-->

<!-- Bootstrap Select Start -->
					<div class="pd-20 card-box mb-30">
						<div class="clearfix">
							<div class="pull-left">
								<h4 class="text-blue h4">Filter Report</h4>

							</div>
						</div>
						<form action="{% url 'myapp:DashboardView' %}" method="post">{% csrf_token %}
							<div class="row">
								<div class="col-md-4 col-sm-12">
									<div class="form-group">
										<label>From Date</label>
                                        <input type="date" name="fromdate" class="form-control">
									</div>
								</div>
                                <div class="col-md-4 col-sm-12">
									<div class="form-group">
										<label>To Date</label>
                                        <input type="date" name="todate" class="form-control">
									</div>
								</div>

							</div>
                            <button
										type="submit"
										class="btn btn-sm"
										data-bgcolor="#00b489"
										data-color="#ffffff"
									>
                                <i class="icon-copy dw dw-filter-1"></i>Filter Report

									</button>

						</form>
					</div>
					<!-- Bootstrap Select End -->

<!-- Export Datatable start -->
<div class="card-box mb-30">
    <div class="pd-20">
        <h6 class="text-blue h4">BestBuy Items</h6>
		<hr>
    </div>
    <div class="pb-20">
        <table
                class="table hover data-table-export nowrap table-striped"
        >
            <thead>
            <tr class="table-warning">

                <th class="">Item Name</th>
                <th class="">Category</th>
                <th class=""> Quantity</th>
                <th class="">Price</th>
<!--                <th class="">Date</th>-->


            </tr>
            </thead>
            <tbody>
            {% for p in c_product %}
            <tr class="table-info">
                <td class="table-plus"><b>{{p.item_name}}</b></td>
                 <td><b>{{p.category}}</b></td>
                <td><b>{{p.balance_qty}}</b></td>
                <td><b>{{p.sell_price}}</b></td>
<!--                <td><b>{{p.expense_date}}</b></td>-->

            </tr>
            {% endfor %}


            </tbody>

        </table>
    </div>
</div>
<!-- Export Datatable End -->
{% endblock content %}