{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
    <div class="container-fluid">
        <div class="card mb-1">
            <div class="card-header">
                <h6>Customer Detail</h6>
            </div>
            <div class="card-body">

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ord_obj.ordered_by}}</td>
                        <td>{{ord_obj.mobile}}</td>
                        <td>{{ord_obj.shipping_address}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <strong class="text-primary">{{ord_obj.created_at}}:{{ord_obj.id}}</strong>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr class="table-warning">
                            <th>SN</th>
                            <th>Item Name</th>
                            <th>Rate</th>
                            <th>Quantity</th>
                            <th>Subtotal</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>

                        </tr>
                        </tfoot>
                        <tbody>

                        {% for p in ord_obj.cart.cartproduct_set.all %}
                        <tr class="table-info">
                            <td>{{forloop.counter}}</td>
                            <td><a href="#">{{p.product.item_name}}</a></td>
                            <td>{{p.rate}}</td>
                            <td>{{p.quantity}}</td>
                            <td>{{p.subtotal}}</td>
                        </tr>
                        {% endfor %}

                        <tr>
                            <td colspan="4" class="text-right">Amount :</td>
                            <td>{{ord_obj.total}}</td>

                        </tr>
                        <tr>
                            <td colspan="4" class="text-right">Tax :</td>
                            <td>{{ord_obj.tax}}</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-right">Total :</td>
                            <td>{{ord_obj.all_total}}</td>
                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</main>


{% endblock content %}
